<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>学生ページ</title>
</head>

<body>
    <h1>履修可能講義一覧</h1>
    <table>
        <tr>
            <th>講義名</th>
            <th>教授名</th>
        </tr>
        <tr th:each="course : ${courseList}">
            <td th:text="${course.name}"></td>
            <td th:text="${course.professor.name}"></td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <a href="/student" th:text="ユーザー情報確認"></a>
            </td>
            <td>
                <form th:action="@{/student/logout}">
                    <button>ログアウト</button>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>