<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>教授ページ</title>
</head>

<body>
    <h1>担当講義一覧</h1>
    <table>
        <tr>
            <th>講義名</th>
        </tr>
        <tr th:each="course : ${courseList}">
            <td th:text="${course.name}"></td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <a href="/professor/insert/insert" th:text="講義登録はこちら"></a>
            </td>
            <td>
                <a href="/professor" th:text="ユーザー情報確認"></a>
            </td>
            <td>
                <form th:action="@{/professor/logout}">
                    <button>ログアウト</button>
                </form>
            </td>
        </tr>
    </table>

</body>

</html>