<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>教授ページ</title>
</head>

<body>
    <h1>新規アカウント登録</h1>

    <form th:action="@{/professor/register/register}" th:object="${professor}" method="post">
        <label for="loginId" th:text="ログインID"></label>
        <input type="text" th:field="*{loginId}"><br>
        <label for="password" th:text="パスワード"></label>
        <input type="password" th:field="*{password}"><br>
        <label for="name" th:text="氏名"></label>
        <input type="text" th:field="*{name}"><br>
        <label for="gender" th:text="性別"></label>
        <select th:field="*{gender}">
            <option th:value="0" th:text="選択しない"></option>
            <option th:value="1" th:text="男"></option>
            <option th:value="2" th:text="女"></option>
            <option th:value="3" th:text="その他"></option>
        </select><br>
        <button>登録</button>
    </form>
</body>

</html>